{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card center-card">
                <div class="login-box">
                    <div class="login-header">
            <header>Register</header>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </div>
        <form method="POST">

        <div class="input-box">
            <input type="email" name = "email" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="input-box">
        <input type="text" name = "first_name" class="input-field" placeholder="First name" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="text" name = "last_name" class="input-field" placeholder="Last name" autocomplete="off" required>
            </div>
        <div class="input-box">
            <input type="password" name = "password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="password" name = "confirm_password" class="input-field" placeholder="Confirm Password" autocomplete="off" required>
        </div>

        <div class="input-submit" style="margin-top: 15px; margin-left:3.2rem; width:70%;">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Register</label>
        </div>
    </div>
</form>
</div>
</div>
</div>
{% endblock%}
